<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Final Project: Advanced SQL Techniques</font></h1>

# Objectives
After completing this lab, you will be able to:

1. Use joins to query data from multiple tables

2. Create and query views

3. Write and run stored procedures

4. Use transactions

# Scenario
In this project, you will work with three datasets that are available on the City of Chicago's Data Portal:

Socioeconomic indicators in Chicago
Chicago public schools
Chicago crime data
You must download each dataset, create a table for each one, and load the appropiate dataset through the Db2 console. If you have already completed the Hands on Lab: Joins, you can reuse the tables you created for that hands-on lab. However, you should not reuse similar tables with other names from other exercises or labs, as they may not create the correct results.

### Important note:

If you have not yet downloaded the three datasets from the City of Chicago's Data Portal, created the required tables, and loaded the data, please follow the instructions in this section.

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Census Data</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Public Schools</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Chicago Crime Data</a>

**NOTE:** Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in Week 3 Lab 3, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR.

Therefore, **it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II**. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next".

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/LoadingData.png">

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the first dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new tables as follows:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [5]:
!pip install sqlalchemy==1.3.9
#!pip install ibm_db_sa
!pip install --force-reinstall ibm_db ibm_db_sa

Requirement already satisfied: sqlalchemy==1.3.9 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.9)
Collecting ibm_db
  Downloading ibm_db-3.1.0.tar.gz (797 kB)
     |████████████████████████████████| 797 kB 27.0 MB/s eta 0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
    Preparing wheel metadata ... done
Collecting ibm_db_sa
  Downloading ibm_db_sa-0.3.7.tar.gz (30 kB)
Collecting sqlalchemy>=0.7.3
  Downloading SQLAlchemy-1.4.26-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 61.3 MB/s eta 0:00:01
Collecting importlib-metadata
  Downloading importlib_metadata-4.8.1-py3-none-any.whl (17 kB)
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (150 kB)
     |████████████████████████████████| 150 kB 94.2 MB/s eta 0:00:01
Collecting typing-extensions>=3.6.4
  Downloading typing_extensions-3.10.0.2-py3-none-any.whl (26 kB)
Collecting zipp>=0.5
  Downloading zipp-3.6.0-py3-none-any.whl (5.3 kB)
Building wheels for collected packages: ibm-db, ibm-db-sa
  Building wheel for ibm-db (PEP 517) ... done
  Created wheel for ibm-db: filename=ibm_db-3.1.0-cp37-cp37m-linux_x86_64.whl size=40911977 sha256=3ea114cc1c202baba017528e3ca43ca8abfd19d3411c2f098d586c1034cb60b9
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/47/0a/77/b8b3be9a85b29763931206a34e13bcc1764e3ef13548d09797
  Building wheel for ibm-db-sa (setup.py) ... done
  Created wheel for ibm-db-sa: filename=ibm_db_sa-0.3.7-py3-none-any.whl size=29318 sha256=a4dc8e42c4546d420a65ac13ed4517e7609a0e758e2d77d06468343e7439da65
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/4a/e9/e7/0ee334a6cb2f09ec45978e05837b66f59494b482ef38c7ae33
Successfully built ibm-db ibm-db-sa
Installing collected packages: zipp, typing-extensions, importlib-metadata, greenlet, sqlalchemy, ibm-db, ibm-db-sa
  Attempting uninstall: zipp
    Found existing installation: zipp 3.5.0
    Uninstalling zipp-3.5.0:
      Successfully uninstalled zipp-3.5.0
  Attempting uninstall: typing-extensions
    Found existing installation: typing-extensions 3.10.0.2
    Uninstalling typing-extensions-3.10.0.2:
      Successfully uninstalled typing-extensions-3.10.0.2
  Attempting uninstall: importlib-metadata
    Found existing installation: importlib-metadata 4.8.1
    Uninstalling importlib-metadata-4.8.1:
      Successfully uninstalled importlib-metadata-4.8.1
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
  Attempting uninstall: ibm-db
    Found existing installation: ibm-db 3.0.4
    Uninstalling ibm-db-3.0.4:
      Successfully uninstalled ibm-db-3.0.4
  Attempting uninstall: ibm-db-sa
    Found existing installation: ibm-db-sa 0.3.3
    Uninstalling ibm-db-sa-0.3.3:
      Successfully uninstalled ibm-db-sa-0.3.3
Successfully installed greenlet-1.1.2 ibm-db-3.1.0 ibm-db-sa-0.3.7 importlib-metadata-4.8.1 sqlalchemy-1.4.26 typing-extensions-3.10.0.2 zipp-3.6.0

In [6]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance in first lab in Week 3. From your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/details.png">

In [7]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://userid:passwd@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/bludb?security=SSL

'Connected: cdm36711@bludb'

## Exercise 1: Using Joins

You have been asked to produce some reports about the communities and crimes in the Chicago area. You will need to use SQL join queries to access the data stored across multiple tables.

### Question 1

Write and execute a SQL query to list the school names, community names and average attendance for communities with a hardship index of 98.

In [80]:
%%sql
select S.name_of_school, S.community_area_name, S.average_student_attendance,E.hardship_index
FROM chicago_publi_schools  S
inner join census_data E on lcase(S.community_area_name) = lcase(E.community_area_name)
where E.hardship_index = 98;

 * ibm_db_sa://cdm36711:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/bludb
Done.

[('George Washington Carver Military Academy High School', 'RIVERDALE', '91.60%', 98),
 ('George Washington Carver Primary School', 'RIVERDALE', '90.90%', 98),
 ('Ira F Aldridge Elementary School', 'RIVERDALE', '92.90%', 98),
 ('William E B Dubois Elementary School', 'RIVERDALE', '93.30%', 98)]

### Question 2

Write and execute a SQL query to list all crimes that took place at a school. Include case number, crime type and community name.

In [77]:
%%sql
select C.case_number, C.primary_type, C.description,C.location_description, E.community_area_name
FROM chicago_crime_data C
left outer join census_data E on C.community_area_number = E.community_area_number
where C.location_description like '%SCHOOL%'

 * ibm_db_sa://cdm36711:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/bludb
Done.

[('HK577020', 'NARCOTICS', 'POSS: HEROIN(WHITE)', 'SCHOOL, PUBLIC, GROUNDS', 'Rogers Park'),
 ('HL725506', 'BATTERY', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, BUILDING', 'Lincoln Square'),
 ('HH639427', 'BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING', 'Austin'),
 ('HS200939', 'CRIMINAL DAMAGE', 'TO VEHICLE', 'SCHOOL, PUBLIC, GROUNDS', 'Austin'),
 ('HT315369', 'ASSAULT', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, GROUNDS', 'East Garfield Park'),
 ('HP716225', 'BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING', 'Douglas'),
 ('HL353697', 'BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS', 'South Shore'),
 ('HS305355', 'NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS', 'SCHOOL, PUBLIC, BUILDING', 'Brighton Park'),
 ('JA460432', 'BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS', 'Ashburn'),
 ('HR585012', 'CRIMINAL TRESPA', 'TO LAND', 'SCHOOL, PUBLIC, GROUNDS', 'Ashburn'),
 ('HH292682', 'PUBLIC PEACE VI', 'BOMB THREAT', 'SCHOOL, PRIVATE, BUILDING', None),
 ('G635735', 'PUBLIC PEACE VI', 'BOMB THREAT', 'SCHOOL, PUBLIC, BUILDING', None)]

## Exercise 2: Creating a View

For privacy reasons, you have been asked to create a view that enables users to select just the school name and the icon fields from the CHICAGO_PUBLIC_SCHOOLS table. By providing a view, you can ensure that users cannot see the actual scores given to a school, just the icon associated with their score. You should define new names for the view columns to obscure the use of scores and icons in the original table.

### Question 1

Write and execute a SQL statement to create a view showing the columns listed in the following table, with new column names as shown in the second column.

Write and execute a SQL statement that returns all of the columns from the view.

Write and execute a SQL statement that returns just the school name and leaders rating from the view.

Take a screenshot showing the last SQL query and its results.

In [65]:
%%sql
create or replace view chicago_public_schools as
select name_of_school as School_Name, Safety_Icon as Safety_Rating, Family_Involvement_Icon as Family_Rating,
        Environment_Icon as Environment_Rating, Instruction_Icon as Instruction_Rating, 
        Leaders_Icon as Leaders_Rating, Teachers_Icon as Teachers_Rating
FROM chicago_publi_schools;

select * 
from chicago_public_schools
limit 2;

 * ibm_db_sa://cdm36711:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/bludb
Done.
Done.

[('Abraham Lincoln Elementary School', 'Very Strong', 'Very Strong', 'Strong', 'Strong', 'Weak', 'Strong'),
 ('Adam Clayton Powell Paideia Community Academy Elementary School', 'Average', 'Strong', 'Strong', 'Very Strong', 'Weak', 'Strong')]

In [26]:
%sql select COLNAME, TYPENAME, LENGTH from SYSCAT.COLUMNS where TABNAME = 'chicago_public_schools'

 * ibm_db_sa://cdm36711:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/bludb
Done.

[]

In [32]:
%%sql
select School_Name, Leaders_Rating 
from chicago_public_schools
limit 5;

 * ibm_db_sa://cdm36711:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/bludb
Done.

[('Abraham Lincoln Elementary School', 'Weak'),
 ('Adam Clayton Powell Paideia Community Academy Elementary School', 'Weak'),
 ('Adlai E Stevenson Elementary School', 'Weak'),
 ('Agustin Lara Elementary Academy', 'Weak'),
 ('Air Force Academy High School', 'Weak')]

## Exercise 3: Creating a Stored Procedure

The icon fields are calculated based on the value in the corresponding score field. You need to make sure that when a score field is updated, the icon field is updated too. To do this, you will write a stored procedure that receives the school id and a leaders score as input parameters, calculates the icon setting and updates the fields appropriately.

### Question 1

Write the structure of a query to create or replace a stored procedure called UPDATE_LEADERS_SCORE that takes a in_School_ID parameter as an integer and a in_Leader_Score parameter as an integer. Don't forget to use the #SET TERMINATOR statement to use the @ for the CREATE statement terminator.
Take a screenshot showing the SQL query.

In [57]:
%%sql
-- #SET TERMINATOR @
CREATE OR REPLACE PROCEDURE UPDATE_LEADERS_SCORE ( 
    IN in_SCHOOL_ID INTEGER, IN in_LEADER_SCORE INTEGER )    

LANGUAGE SQL                                                
MODIFIES SQL DATA                                          

BEGIN 
        
END
-- @

 * ibm_db_sa://cdm36711:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/bludb
Done.

[]

### Question 2

Inside your stored procedure, write a SQL statement to update the Leaders_Score field in the CHICAGO_PUBLIC_SCHOOLS table for the school identified by in_School_ID to the value in the in_Leader_Score parameter.
Take a screenshot showing the SQL query.

In [58]:
%%sql
-- #SET TERMINATOR @
CREATE or replace PROCEDURE UPDATE_LEADERS_SCORE ( 
    IN in_SCHOOL_ID INTEGER, IN in_LEADER_SCORE INTEGER )     -- ( { IN/OUT type } { parameter-name } { data-type }, ... )

LANGUAGE SQL                                                -- Language used in this routine
MODIFIES SQL DATA                                           -- This routine will only write/modify data in the table

BEGIN 

        UPDATE CHICAGO_PUBLI_SCHOOLS
        SET LEADERS_SCORE = CAST(in_LEADER_SCORE AS VARCHAR(3))
        WHERE SCHOOL_ID = in_SCHOOL_ID;
END
-- @

 * ibm_db_sa://cdm36711:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/bludb
Done.

[]

### Question 3

Inside your stored procedure, write a SQL IF statement to update the Leaders_Icon field in the CHICAGO_PUBLIC_SCHOOLS table for the school identified by in_School_ID using the following information.

In [68]:
%%sql
-- #SET TERMINATOR @
CREATE or replace PROCEDURE UPDATE_LEADERS_SCORE ( 
    IN in_SCHOOL_ID INTEGER, IN in_LEADER_SCORE INTEGER )     -- ( { IN/OUT type } { parameter-name } { data-type }, ... )

LANGUAGE SQL                                                -- Language used in this routine
MODIFIES SQL DATA                                           -- This routine will only write/modify data in the table
BEGIN 
        UPDATE CHICAGO_PUBLI_SCHOOLS
        SET LEADERS_SCORE = cast(in_LEADER_SCORE as varchar(3))
        WHERE SCHOOL_ID = in_SCHOOL_ID;
    
    IF in_LEADER_SCORE >0 AND in_LEADER_SCORE <20  THEN 
        UPDATE CHICAGO_PUBLI_SCHOOLS
        SET LEADERS_ICON = 'Very Weak'
        WHERE SCHOOL_ID = in_SCHOOL_ID;
    
    ELSEIF in_LEADER_SCORE <40 THEN
        UPDATE CHICAGO_PUBLI_SCHOOLS
        SET LEADERS_ICON = 'Weak'
        WHERE SCHOOL_ID = in_SCHOOL_ID;
        
    ELSEIF in_LEADER_SCORE <60 THEN
        UPDATE CHICAGO_PUBLI_SCHOOLS
        SET LEADERS_ICON = 'Average'
        WHERE SCHOOL_ID = in_SCHOOL_ID;
        
    ELSEIF in_LEADER_SCORE <80 THEN
        UPDATE CHICAGO_PUBLI_SCHOOLS
        SET LEADERS_ICON = 'Strong'
        WHERE SCHOOL_ID = in_SCHOOL_ID;
        
    ELSEIF in_LEADER_SCORE <100 THEN
        UPDATE CHICAGO_PUBLI_SCHOOLS
        SET LEADERS_ICON = 'Very Strong'
        WHERE SCHOOL_ID = in_SCHOOL_ID;  
    END IF;                                                 -- End of conditional statement 
END
-- @

 * ibm_db_sa://cdm36711:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/bludb
Done.

[]

## Question 4

Run your code to create the stored procedure.
Take a screenshot showing the SQL query and its results.

Write a query to call the stored procedure, passing a valid school ID and a leader score of 50, to check that the procedure works as expected.

In [69]:
%%sql
--Need to change the data type from varchar(4) to varchar(11)
ALTER TABLE CHICAGO_PUBLI_SCHOOLS
ALTER COLUMN leaders_icon SET DATA TYPE VARCHAR(11);

call UPDATE_LEADERS_SCORE(400018,50);

select school_id, leaders_icon, leaders_score 
from chicago_publi_schools
where school_id = 400018;

 * ibm_db_sa://cdm36711:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/bludb
Done.
Done.
Done.

[(400018, 'Average', '50')]

## Exercise 4: Using Transactions
You realise that if someone calls your code with a score outside of the allowed range (0-99), then the score will be updated with the invalid data and the icon will remain at its previous value. There are various ways to avoid this problem, one of which is using a transaction.

### Question 1
Update your stored procedure definition. Add a generic ELSE clause to the IF statement that rolls back the current work if the score did not fit any of the preceding categories.
Hint 1
Take a screenshot showing the SQL query.

In [70]:
%%sql
-- #SET TERMINATOR @
CREATE or replace PROCEDURE UPDATE_LEADERS_SCORE ( 
    IN in_SCHOOL_ID INTEGER, IN in_LEADER_SCORE INTEGER )     -- ( { IN/OUT type } { parameter-name } { data-type }, ... )

LANGUAGE SQL                                                -- Language used in this routine
MODIFIES SQL DATA                                           -- This routine will only write/modify data in the table
BEGIN 
        UPDATE CHICAGO_PUBLI_SCHOOLS
        SET LEADERS_SCORE = cast(in_LEADER_SCORE as varchar(3))
        WHERE SCHOOL_ID = in_SCHOOL_ID;
    
    IF in_LEADER_SCORE >0 AND in_LEADER_SCORE <20  THEN 
        UPDATE CHICAGO_PUBLI_SCHOOLS
        SET LEADERS_ICON = 'Very Weak'
        WHERE SCHOOL_ID = in_SCHOOL_ID;
    
    ELSEIF in_LEADER_SCORE <40 THEN
        UPDATE CHICAGO_PUBLI_SCHOOLS
        SET LEADERS_ICON = 'Weak'
        WHERE SCHOOL_ID = in_SCHOOL_ID;
        
    ELSEIF in_LEADER_SCORE <60 THEN
        UPDATE CHICAGO_PUBLI_SCHOOLS
        SET LEADERS_ICON = 'Average'
        WHERE SCHOOL_ID = in_SCHOOL_ID;
        
    ELSEIF in_LEADER_SCORE <80 THEN
        UPDATE CHICAGO_PUBLI_SCHOOLS
        SET LEADERS_ICON = 'Strong'
        WHERE SCHOOL_ID = in_SCHOOL_ID;
        
    ELSEIF in_LEADER_SCORE <100 THEN
        UPDATE CHICAGO_PUBLI_SCHOOLS
        SET LEADERS_ICON = 'Very Strong'
        WHERE SCHOOL_ID = in_SCHOOL_ID;
    ELSE
        ROLLBACK WORK;
    END IF;                                                 -- End of conditional statement
END
-- @

 * ibm_db_sa://cdm36711:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/bludb
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: Statement Execute Failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0104N  An unexpected token "BEGIN           UPDATE CHICAGO_PUBLI_SCHOOLS         SET L" was found following "  ".  Expected tokens may include:  "<psm_if>".  LINE NUMBER=46.  SQLSTATE=42601 SQLCODE=-104
[SQL: -- #SET TERMINATOR @
CREATE or replace PROCEDURE UPDATE_LEADERS_SCORE (
    IN in_SCHOOL_ID INTEGER, IN in_LEADER_SCORE INTEGER )     -- ( { IN/OUT type } { parameter-name } { data-type }, ... )

LANGUAGE SQL                                                -- Language used in this routine
MODIFIES SQL DATA                                           -- This routine will only write/modify data in the table

BEGIN

        UPDATE CHICAGO_PUBLI_SCHOOLS
        SET LEADERS_SCORE = cast(in_LEADER_SCORE as varchar(3))
        WHERE SCHOOL_ID = in_SCHOOL_ID;

    IF in_LEADER_SCORE >0 AND in_LEADER_SCORE <20  THEN
        UPDATE CHICAGO_PUBLI_SCHOOLS
        SET LEADERS_ICON = 'Very Weak'
        WHERE SCHOOL_ID = in_SCHOOL_ID;

    ELSEIF in_LEADER_SCORE <40 THEN
        UPDATE CHICAGO_PUBLI_SCHOOLS
        SET LEADERS_ICON = 'Weak'
        WHERE SCHOOL_ID = in_SCHOOL_ID;

    ELSEIF in_LEADER_SCORE <60 THEN
        UPDATE CHICAGO_PUBLI_SCHOOLS
        SET LEADERS_ICON = 'Average'
        WHERE SCHOOL_ID = in_SCHOOL_ID;

    ELSEIF in_LEADER_SCORE <80 THEN
        UPDATE CHICAGO_PUBLI_SCHOOLS
        SET LEADERS_ICON = 'Strong'
        WHERE SCHOOL_ID = in_SCHOOL_ID;

    ELSEIF in_LEADER_SCORE <100 THEN
        UPDATE CHICAGO_PUBLI_SCHOOLS
        SET LEADERS_ICON = 'Very Strong'
        WHERE SCHOOL_ID = in_SCHOOL_ID;
    ELSE
        ROLLBACK WORK;

    END IF;                                                 -- End of conditional statement

END
-- @

call UPDATE_LEADERS_SCORE(400018,38);]
(Background on this error at: http://sqlalche.me/e/f405)

### Question 2
Update your stored procedure definition again. Add a statement to commit the current unit of work at the end of the procedure.
Hint 1
Take a screenshot showing the SQL query.

Run your code to replace the stored procedure.

Write and run one query to check that the updated stored procedure works as expected when you use a valid score of 38.

Write and run another query to check that the updated stored procedure works as expected when you use an invalid score of 101.

In [74]:
%%sql
-- #SET TERMINATOR @
CREATE or replace PROCEDURE UPDATE_LEADERS_SCORE ( 
    IN in_SCHOOL_ID INTEGER, IN in_LEADER_SCORE INTEGER )     -- ( { IN/OUT type } { parameter-name } { data-type }, ... )
LANGUAGE SQL                                                -- Language used in this routine
MODIFIES SQL DATA                                           -- This routine will only write/modify data in the table
BEGIN 
        UPDATE CHICAGO_PUBLI_SCHOOLS
        SET LEADERS_SCORE = cast(in_LEADER_SCORE as varchar(3))
        WHERE SCHOOL_ID = in_SCHOOL_ID;
    
    IF in_LEADER_SCORE >0 AND in_LEADER_SCORE <20  THEN 
        UPDATE CHICAGO_PUBLI_SCHOOLS
        SET LEADERS_ICON = 'Very Weak'
        WHERE SCHOOL_ID = in_SCHOOL_ID;
    
    ELSEIF in_LEADER_SCORE <40 THEN
        UPDATE CHICAGO_PUBLI_SCHOOLS
        SET LEADERS_ICON = 'Weak'
        WHERE SCHOOL_ID = in_SCHOOL_ID;
        
    ELSEIF in_LEADER_SCORE <60 THEN
        UPDATE CHICAGO_PUBLI_SCHOOLS
        SET LEADERS_ICON = 'Average'
        WHERE SCHOOL_ID = in_SCHOOL_ID;
        
    ELSEIF in_LEADER_SCORE <80 THEN
        UPDATE CHICAGO_PUBLI_SCHOOLS
        SET LEADERS_ICON = 'Strong'
        WHERE SCHOOL_ID = in_SCHOOL_ID;
        
    ELSEIF in_LEADER_SCORE <100 THEN
        UPDATE CHICAGO_PUBLI_SCHOOLS
        SET LEADERS_ICON = 'Very Strong'
        WHERE SCHOOL_ID = in_SCHOOL_ID;
    ELSE
        ROLLBACK WORK;
    END IF; 
    -- End of conditional statement
    COMMIT WORK;
END
-- @

 * ibm_db_sa://cdm36711:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/bludb
Done.

[]

In [75]:
%%sql

call UPDATE_LEADERS_SCORE(400018,38);

select school_id, leaders_icon, leaders_score 
from chicago_publi_schools
where school_id = 400018;

 * ibm_db_sa://cdm36711:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/bludb
Done.
Done.

[(400018, 'Weak', '38')]

In [76]:
%%sql
-- test out of range value 
call UPDATE_LEADERS_SCORE(400018,101);

select school_id, leaders_icon, leaders_score 
from chicago_publi_schools
where school_id = 400018;

 * ibm_db_sa://cdm36711:***@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/bludb
Done.
Done.

[(400018, 'Weak', '38')]

## Author(s)

<h4>  </h4>




## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
| 2021-10-26 |      |     |                            |